<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi,viewport-fit=cover" />
    
    <title>我的收藏</title>
    <link rel="alternate icon" class="js-site-favicon" type="image/png" href="https://github.githubassets.com/favicons/favicon.png">
    <link rel="icon" class="js-site-favicon" type="image/svg+xml" href="https://github.githubassets.com/favicons/favicon.svg">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <style>
        body {
            padding: 25px 50px;
        }

        .title {
            padding: 20px 10px;
        }

        li {
            display: inline-block;
        }

        a {
            display: block;
            text-decoration: none;
            color: black;
            padding: 10px;
        }

        a:hover {
            background: black;
            color: white;
        }

        li i {
            margin-right: 5px;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="item" v-for="(key, index) in Object.keys(data)" :key="index">
            <h2 class="title">{{key}}</h2>
            <ul>
                <li v-for="(nav, i) in data[key]" :key="i">
                    <a :href="nav.link" target="_blank">
                        <i :class="['mdi', nav.icon]"></i>
                        {{nav.name}}</a>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/gh/nodeca/js-yaml@master/dist/js-yaml.min.js"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    data: {}
                }
            },
            created() {
                fetch('nav.yml').then(res => res.text()).then(res => {
                    this.data = jsyaml.load(res)
                })
            },
        }).mount('#app')

    </script>
</body>

</html>
